@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

$font-stack: "Helvatica Neue", "Arial", "Helvatica", sans-serif;
$font-description: "Georgia", "Times New Roman", serif;
$primary-color: #222;
$secondary-color: #555;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

h1,
h2,
a,
a:hover {
  color: $primary-color;
}

p {
  font-family: $font-description;
  color: $secondary-color;
}
