@import "common/variables";

/** Import everything from autoload */
// @import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/comments";
// @import "components/forms";
// @import "components/wp-classes";
// @import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";

@font-face {
  font-family: "Futura";
  src: url("../woff/FuturaBT-Book.woff");
}

@font-face {
  font-family: "Futura-Std";
  src: url("../woff/FuturaStd-Light.woff");
}

@font-face {
  font-family: "Apercu";
  src: url("../woff/Apercu-Light.woff");
}

$font-stack:"Futura", Arial, Helvetica, sans-serif;
$font-stack-jp: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Osaka", "Meiryo UI", "メイリオ", sans-serif;

$font-descriptions: "Helvetica Neue Light", Helvetica, sans-serif;
$font-descriptions-jp: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", serif;

$font-accent: "Futura-Std", "Apercu", "Helvetica Neue Ultra Light", sans-serif;

$primary-color:#222;
$secondary-color: #555;
$description-color: #777;
$bgcolor:#fafafa;
$section-title: 3.5rem;
$font-xxl: 300%;
$font-xl: 200%;
$font-175: 175%;
$font-150: 150%;
$font-125: 125%;
$font-120: 120%;
$font-mq: 100%;
$font-sm: 85%;
$font-xs: 75%;

// define for media query
$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 600px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

// to invoke above
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: 200;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $bgcolor;
  margin: 0 auto;
}

h2 {
  font-size: 1.75rem;

  @include mq(lg) {
    font-size: $section-title;
  }
}

p {
  font-family: $font-descriptions;
  font-weight: 300;
}

ul {
  padding: 0;
}

a {
  color: $primary-color;
}

strong {
  font-weight: bold;
}

section {
  width: 100%;
  min-height: calc(100vh - 90px);
  padding: 15px;

  @include mq() {
    min-height: calc(100vh - 150px);
    padding: 30px;
  }

  @include mq(lg) {
    min-height: 100vh;
    padding: 2.125rem 8rem;
  }
}

.left,
.right {
  @include mq(lg) {
    width: 50%;
  }
}

.section__title,
.section__title_bio,
.section__title_skills {
  margin: 0 0 4rem;
  font-size: $font-xl;
  letter-spacing: 7px;
  text-transform: uppercase;

  @include mq() {
    font-size: $font-xxl;
    letter-spacing: 10px;
  }

  @include mq(lg) {
    font-size: $section-title;
    line-height: 1;
    margin: 0 0 4rem;
  }
}

.header {
  width: 100%;
  height: 90px;

  @include mq() {
    height: 180px;
  }

  @include mq(lg) {
    height: 8rem;
  }

  &__logo {
    position: fixed;
    top: 0;
    width: 15%;
    height: auto;
    margin: -30px 0 0 15px;
    padding: 0;
    z-index: 2;

    @include mq() {
      width: 12%;
      margin: -10px 0 0 25px;
    }

    @include mq(lg) {
      width: 64px;
      height: auto;
      margin: -0.775rem 0 0 2.125rem;
    }

    &-svg {
      margin: 0;

      .st0 {
        fill: none;
        stroke: $primary-color;
        stroke-width: 2;
      }
    }

    @include mq(lg) {
      &-svg:hover {
        .rubZJJkj_0 {
          stroke-dasharray: 602 604;
          stroke-dashoffset: 603;
          animation: rubZJJkj_draw 1000ms linear 0ms forwards;
        }

        .rubZJJkj_1 {
          stroke-dasharray: 254 256;
          stroke-dashoffset: 255;
          animation: rubZJJkj_draw 500ms linear 1000ms forwards;
        }

        .rubZJJkj_2 {
          stroke-dasharray: 516 518;
          stroke-dashoffset: 517;
          animation: rubZJJkj_draw 1128ms linear 1872ms forwards;
        }

        @keyframes rubZJJkj_draw {
          100% {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}

.nav {
  &__bar {
    position: absolute;
    height: 2px;
    width: 30px;
    background: $primary-color;
    display: block;
    content: "";

    &:nth-of-type(1) {
      top: 0;
      animation: squeeze-top 0.75s backwards;
    }

    &:nth-of-type(2) {
      top: 10px;
      transition: all 0.3s 0.3s;
      opacity: 1;
    }

    &:nth-of-type(3) {
      bottom: 0;
      animation: squeeze-btm 0.75s backwards;
    }

    @keyframes squeeze-top {
      0% { transform: translateY(10px) rotate(45deg); }
      50% { transform: translateY(10px) rotate(0); }
      100% { transform: translateY(0) rotate(0); }
    }

    @keyframes squeeze-btm {
      0% { transform: translateY(-10px) rotate(-45deg); }
      50% { transform: translateY(-10px) rotate(0); }
      100% { transform: translateY(0) rotate(0); }
    }
  }

  &__toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 22px;
    margin: 30px 15px 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: none;
    border: none;
    z-index: 2;
    cursor: pointer;

    @include mq() {
      margin: 60px 30px 0 0;
    }

    @include mq(lg) {
      margin: 52px 2.95rem 0 0;
    }

    &.open {
      z-index: 3;

      // .nav__bar {
      //   width: 30px;
      // }

      .nav__bar:nth-of-type(1) {
        animation: squeeze-top-open 0.75s forwards;
      }

      .nav__bar:nth-of-type(2) {
        opacity: 0;
      }

      .nav__bar:nth-of-type(3) {
        animation: squeeze-btm-open 0.75s forwards;
      }
    }

    @keyframes squeeze-top-open {
      0% { transform: translateY(0) rotate(0); }
      50% { transform: translateY(10px) rotate(0); }
      100% { transform: translateY(10px) rotate(45deg); }
    }

    @keyframes squeeze-btm-open {
      0% { transform: translateY(0) rotate(0); }
      50% { transform: translateY(-10px) rotate(0); }
      100% { transform: translateY(-10px) rotate(-45deg); }
    }
  }

  &__menu-text {
    font-family: $font-stack;
    font-size: $font-sm;
    margin: 0 3rem 0 0;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  &__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: all 0.6s ease;
    transform: translateX(20vw);
    opacity: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: $bgcolor;
    list-style: none;
    margin: 0;
    padding: 103px 20px;
    text-align: left;
    font-size: $font-xl;
    z-index: -1;

    @include mq() {
      padding: 175px 30px;
    }

    @include mq(lg) {
      justify-content: center;
      padding: 8rem;
      font-size: 48px;
    }

    &.open {
      opacity: 1;
      transform: translateX(0);
      z-index: 1;
    }

    .language {
      text-align: right;
    }
  }

  &__link {
    text-transform: uppercase;
    letter-spacing: 7px;
    transition: all 0.2s;

    @include mq(lg) {
      color: #bbb;
      letter-spacing: 10px;
    }

    li {
      line-height: 2;
    }

    &:hover {
      color: $primary-color;
      transition: all 0.2s;
    }
  }
}

.top {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 15px 15px;

  @include mq() {
    height: calc(100vh - 200px);
    padding: 0 30px 30px;
  }

  @include mq(lg) {
    height: 100vh;
    margin: -8rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.125rem 8rem;
    position: relative;
  }

  &__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq(lg) {
      width: calc(100% - 25rem);
    }
  }

  &__title {
    margin: 1.25rem auto 0.5rem;
    font-size: $font-150;
    letter-spacing: 5px;

    @include mq() {
      margin: 1rem auto 1.25rem;
      font-size: $font-xxl;
    }

    @include mq(lg) {
      margin: 0;
      font-size: $section-title;
    }
  }

  &__description {
    font-size: 100%;
    margin: 0;
    letter-spacing: 0.5px;
    text-align: center;

    @include mq() {
      font-size: $font-150;
      margin: auto;
    }

    @include mq(lg) {
      font-size: 2.25rem;
      margin: 0.5rem 0;
      text-align: left;
    }
  }

  &__img-wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq() {
      width: 55%;
    }

    @include mq(lg) {
      width: 30vw;
      flex-direction: row;
    }
  }

  &__logo {
    width: 100%;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px auto;
  font-size: $font-175;

  @include mq(lg) {
    font-size: 2.25rem;
    margin: 15px 0;

    a:first-child > li {
      padding-left: 0;
    }
  }

  a li {
    padding: 0 0.65rem;

    @include mq() {
      padding: 0 1.05rem;
      font-size: 175%;
    }

    @include mq(lg) {
      padding: 0 0.85rem;
      font-size: 100%;
    }
  }
}

.scroll-to-main {
  padding: 2.35rem 2.125rem;
  display: none;

  @include mq(lg) {
    display: block;
  }
}

.scroll-arrow {
  font-size: 25px;
  line-height: 2;

  @include mq(lg) {
    font-size: 30px;
    bottom: 0;
    line-height: 1.5;
  }

  &.to-works {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;

    @include mq(lg) {
      opacity: 1;
      display: block;
      left: 0;
    }
  }

  &.to-top {
    right: 0;
  }
}

.scroll-arrow.to-top,
.scroll-arrow.to-works {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 45%;
    left: 0;
    width: 105%;
    height: 2px;
    background: $primary-color;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.2s;
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}

.works,
.bio,
.contact {
  padding: 5rem 15px 15px;

  @include mq() {
    padding: 150px 30px 15px;
  }

  @include mq(lg) {
    padding: 8rem 8rem 0;
  }
}

.works {
  &__wrap {
    margin: -5rem 0 0;

    @include mq(lg) {
      margin: 0;
    }
  }

  &__img-wrap {
    position: relative;
    display: inline-block;

    @include mq(lg) {
      &:nth-of-type(odd) {
        padding: 0 25rem 0 0;

        .works__description-wrap {
          right: 0;
        }
      }

      &:nth-of-type(even) {
        padding: 0 0 0 25rem;

        .works__description-wrap {
          left: 0;
        }
      }
    }

    img {
      transition: all 0.3s ease;
    }

    &:hover img {
      opacity: 0.35;
      transition: all 0.3s ease;
    }
  }

  &__description-wrap {
    transition: all 0.3s ease;
    margin: -1.5rem 0;

    @include mq(lg) {
      width: 45%;
      position: absolute;
      bottom: 1rem;
      margin: 0;
      opacity: 0;

      &.data1,
      &.data3,
      &.data5 {
        right: 0;
      }

      &.data2,
      &.data4,
      &.data6 {
        left: 0;
      }
    }
  }

  &__img-wrap:hover .works__description-wrap {
    opacity: 1;
    transition: all 0.4s ease;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 5rem 0 2rem;

    @include mq(lg) {
      margin: 12rem 0 0 0;

      &.data1 {
        padding: 0 25rem 0 0;
      }

      &.data2 {
        padding: 0 0 0 10rem;
      }

      &.data3 {
        padding: 0 14rem 0 0;
      }

      &.data4 {
        padding: 2rem 0 0 30rem;
      }

      &.data5 {
        padding: 10rem 25rem 0 0;
      }

      &.data6 {
        padding: 5rem 0 0 20rem;
      }
    }
  }

  &__title {
    font-size: $font-175;
    margin: -1.5rem 0 auto;

    @include mq(lg) {
      font-size: 250%;
      margin: auto;
    }
  }

  &__tag {
    font-size: $font-xs;
    color: $secondary-color;
    margin: 0.45rem 0;
    text-transform: capitalize;

    @include mq() {
      font-size: $font-120;
    }

    @include mq(lg) {
      font-size: $font-sm;
    }
  }

  .button {
    display: block;
    background: none;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    margin: 5rem auto 10rem;
    padding: 1rem 2rem;

    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 1px $primary-color;
    color: $primary-color;

    // Required, since we're setting absolute on pseudo-elements
    position: relative;

    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    @include mq() {
      padding: 1.5rem 2rem;
      width: 50%;
    }

    @include mq(lg) {
      margin: 10rem auto;
    }
  }

  .draw {
    transition: color 0.2s;

    &::before,
    &::after {
      // Set border to invisible
      // so we don't see border on a 0x0 element before the transition starts
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
      top: 0;
      left: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover {
      color: $primary-color;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: $primary-color; // Make borders visible
      border-right-color: $primary-color;
      transition:
        // Width expands first
        width 0.15s ease-out,
        // And then height
        height 0.15s ease-out 0.15s;
    }

    &:hover::after {
      border-bottom-color: $primary-color; // Make borders visible
      border-left-color: $primary-color;
      transition:
        // Wait for 'before' to finish before showing border
        border-color 0s ease-out 0.15s,
        // And then exanding width
        width 0.15s ease-out 0.15s,
        // And finally height
        height 0.15s ease-out 0.15s;
    }
  }

  // Inherits from .draw
  .meet {
    &:hover {
      color: $primary-color;
    }

    // Start ::after in same position as ::before
    &::after {
      top: 0;
      left: 0;
    }

    // Change colors
    &:hover::before {
      border-top-color: $primary-color;
      border-right-color: $primary-color;
    }

    &:hover::after {
      border-bottom-color: $primary-color;
      border-left-color: $primary-color;
      transition:
        // Animate height first, then width
        height 0.15s ease-out,
        width 0.15s ease-out 0.15s;
    }

    @include mq(lg) {
      width: 320px;
      font-size: $font-125;
    }
  }
}

.bio {
  @include mq(lg) {
    .section__sticky-wrap {
      position: relative;
    }

    .section__title_bio {
      position: absolute;
      top: 6rem;
    }
  }

  &__img_wrap {
    @include mq(lg) {
      width: 50%;
      margin: -6rem 0 6rem auto;
      padding-top: 6rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    @include mq(lg) {
      position: absolute;
      top: 0;
      width: calc(50% - 3rem);
      margin: calc(6rem + 8rem) auto 8rem 0;
    }
  }

  &__name {
    font-size: $font-150;

    @include mq(lg) {
      font-size: $font-xl;
      margin-top: 0;
      line-height: 1.45;
    }
  }

  &__description {
    font-size: $font-sm;
    color: $description-color;

    &_link_list {
      display: block;
      width: max-content;
      font-size: $font-sm;
      margin: 1em 0;
      border-bottom: 1px solid #222;
    }
  }

  &__caption {
    margin: 0;
    font-size: 12px;
  }
}

.skills {
  padding: 5rem 0;

  @include mq(lg) {
    width: calc(50% - 3rem);
    margin: 0 auto 8rem 0;
    padding: 8rem 0 0 0;
  }

  &__head {
    font-size: 23px;
    margin: 16px 0;
  }

  &__list {
    padding: 0;

    h4 {
      font-size: 18px;
      margin: 0.75rem 0 0.15rem;
    }

    p {
      font-size: $font-sm;
      color: $description-color;
      margin: 0.15rem 0 0.75rem;
    }
  }

  &__content:nth-of-type(1) {
    margin: 0 0 4rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 12vh);
  position: relative;

  @include mq() {
    justify-content: center;
  }

  @include mq(lg) {
    padding: 2.125rem 8rem;
    min-height: calc(100vh - 13vh);
  }

  &__title {
    margin: 2rem 0;
    padding: 0;

    @include mq(lg) {
      margin: 7rem 0 4rem;
    }
  }

  &__description {
    font-size: 14px;
    color: $description-color;

    @include mq(lg) {
      font-size: $font-mq;
    }

    &_mail,
    &_social {
      font-family: $font-accent;
      font-size: 12px;
      color: $secondary-color;

      @include mq() {
        font-size: 14px;
      }
    }

    &_social {
      margin: auto 0 0;
    }
  }

  &__mailto {
    display: inline-block;
    margin: 0 0 1rem;
    font-size: 1.65rem;
  }

  .social {
    margin: 4px 0 15px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 12vh;

  @include mq() {
    padding: 30px;
  }

  @include mq(lg) {
    padding: 2.125rem;
  }

  p {
    font-family: $font-accent;
    position: relative;
  }
}

.article {
  margin-top: 90px;
  padding: 0;

  @include mq(lg) {
    margin-top: 50px;
  }

  &__title-wrap {
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;

    @include mq() {
      padding: 0 30px;
    }

    @include mq(lg) {
      padding: 0 8rem;
      margin: 0 auto 90px;
      flex-direction: row;
    }

    h1 {
      font-size: 2rem;
      line-height: 1.35;
      margin: 0;

      @include mq(lg) {
        font-size: 3rem;
        margin: 1.875rem 0 0;
      }
    }

    h1,
    p {
      @include mq(lg) {
        margin: 0;
      }
    }
  }

  &__title {
    margin-bottom: 2.5rem;

    @include mq(lg) {
      margin: 0 1rem 0 0;
      width: 50%;
    }
  }

  &__description {
    margin: 1rem 0;
    color: $secondary-color;
  }

  &__detail_wrap {
    margin-bottom: 2.5rem;

    @include mq(lg) {
      margin: 0.75rem 0 0 1rem;
      width: 50%;
    }
  }

  &__link {
    display: block;
    width: max-content;
    font-size: 1.17em;
    margin: 1em 0;
    border-bottom: 1px solid $primary-color;
  }

  &__main {
    padding: calc(2.5rem - 15px) 0;

    @include mq(lg) {
      padding: 0 0 8rem;
    }
  }

  &__section-title {
    font-size: $font-125;
    font-family: $font-stack;
    margin: 0 auto calc(2.5rem - 15px);

    @include mq(lg) {
      font-size: $font-150;
      margin: 0 auto 4.25rem;
    }
  }

  &__main_content {
    padding: 15px;

    @include mq() {
      padding: 30px;
    }

    @include mq(lg) {
      max-width: 700px;
      margin: 4.25rem auto 5rem;
    }

    & > p {
      font-size: 14px;
      color: $description-color;
    }
  }

  p {
    font-size: 15px;
    margin: 0 0 1.5rem;
    line-height: 1.7;
    letter-spacing: -0.25px;
  }

  &__img_xl,
  &__img_lg {
    width: 100%;
    height: auto;
  }

  &__img_lg {
    padding: 15px;

    @include mq() {
      padding: 30px;
    }

    @include mq(lg) {
      padding: 0 8rem;
    }
  }

  &__img-wrap {
    @include mq (lg) {
      display: inline-table;
      width: 100%;
      padding: 0 8rem;
    }
  }

  &__img_md {
    width: 100%;
    padding: 0 15px;

    @include mq(lg) {
      padding: 0;
      width: 50%;
    }
  }

  &__img_sm {
    width: 100%;
    padding: 0 15px;

    @include mq(lg) {
      padding: 0;
      width: 33.333%;
    }
  }

  &__link_button {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 4rem;
    border: 1px solid $primary-color;
    text-align: center;

    @include mq(lg) {
      width: 45%;
      margin: 5rem 1rem;
      padding: 1.65rem 4rem;
      float: left;
    }
  }
}

.related-article {
  padding: 15px;

  @include mq() {
    padding: 30px;
  }

  @include mq(lg) {
    padding: 0 8rem;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 7px;
  }

  &__content-wrap {
    @include mq(lg) {
      display: flex;
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  @include mq(lg) {
    &__content:nth-of-type(1),
    &__content:nth-of-type(3) {
      // margin-right: 0;

      @include mq(lg) {
        margin: 0;
      }
    }

    &__content:nth-of-type(2) {
      margin: 0;

      @include mq(lg) {
        margin: 0 1rem;
      }
    }
  }

  &__img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;

    @include mq(lg) {
      width: 100%;
      height: 220px;
    }
  }

  &__content-title {
    margin: 0 0 1.75rem;
  }
}

.pager {
  font-family: $font-stack;
  display: inline-block;
  width: 50%;
  font-size: $font-150;

  &__wrap {
    display: flex;
    align-items: center;
    margin: 0;
    clear: both;
    padding: 3rem 0 0;

    @include mq(lg) {
      padding: 0 0 8rem;
    }
  }

  &__arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $primary-color;
    line-height: 0;

    @include mq(lg) {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid $primary-color;
    }
  }

  &__arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid $primary-color;
    line-height: 0;

    @include mq(lg) {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid $primary-color;
    }
  }

  &.left {
    text-align: left;
    margin: 0 15px;
    font-size: $font-sm;

    @include mq(lg) {
      margin: 0 1.2rem;
      font-size: $font-150;
    }
  }

  &.right {
    text-align: right;
    margin: 0 15px;
    font-size: $font-sm;

    @include mq(lg) {
      margin: 0 1.2rem;
      font-size: $font-150;
    }
  }
}

.archive,
.search {
  width: 100%;
  margin: 0;
  padding-top: 0;

  &__flex-wrap {
    display: flex;
    flex-direction: column;

    @include mq(lg) {
      display: block;
    }
  }

  &__img-wrap {
    width: 100%;
    margin: 0 0 4rem;

    @include mq(lg) {
      width: 50%;
      min-height: 540px;
      float: left;

      &:nth-of-type(odd) {
        padding-right: 1rem;
      }

      &:nth-of-type(even) {
        padding-left: 1rem;
      }
    }
  }

  &__img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;

    @include mq(lg) {
      max-height: 320px;
    }
  }

  &__title {
    margin: 0.85rem 0;
    font-size: $font-150;
  }

  &__tag {
    font-size: $font-xs;
    color: $secondary-color;
    text-transform: capitalize;

    @include mq() {
      font-size: $font-120;
    }

    @include mq(lg) {
      font-size: $font-sm;
      min-height: 3rem;
    }
  }
}

.not-found__description {
  font-size: $font-150;
}
